.productos-container{
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.caja{
    border-radius: 50px;
    background-color: darkseagreen;
    transition: transform 0.3s;
}

.caja:hover{
    transform: scale(1.03);
}

