h1{
    color: black;
    padding: 20px;
    text-align: center;
}

.contenedor{
    width: 100%;
    background-color: darkseagreen;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;
    justify-content: center;
    align-content: center;
    padding: 5rem;
}


.botones{
    background-color: darkolivegreen;
    text-align: center;
    padding: 2rem;
}

/* .botones button{
    padding: 2rem;
    margin: 2rem;
    background-color: darkseagreen;
}

.botones button:hover{
    background-color: darkseagreen;
    border: 1px solid green;
} */