h1{
    color: darkolivegreen;
    padding: 20px;
    text-align: center;
}

.contenedor{
    height: 90rem;
    width: 100%;
    background-color: darkseagreen;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    padding: 5rem;
      
}

.contenedor h4{
    color: rgb(2, 39, 2);
}

.contenedor div{
    margin: auto auto;
    padding: 5rem;
    width: 300px;
    height: 300px;
    background-color: rgb(204, 235, 204);
    border: 1px solid green;
    display: grid;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;

}

.contenedor div div{
    width: 40px;
    height: 40px;
    background-color: darkolivegreen;
}

.botones{
    background-color: darkolivegreen;
    text-align: center;
    padding: 2rem;
}

.botones button{
    padding: 2rem;
    margin: 2rem;
    background-color: darkseagreen;
}

.botones button:hover{
    background-color: darkseagreen;
    border: 1px solid green;
}