.productos-container{
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.caja{
    border-radius: 50px;
    background-color: darkseagreen;
   

}

.caja:hover{
    background-image: url(../assets/fotoPlanta.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.3s;
    transform: scale(1.2);
}

